body {
  background-color: #f1f6f9;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

.title {
  font-family: "IBM Plex Serif", sans-serif;
  font-weight: 700;
  text-align: center;
}


.footer {
  bottom: 0;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 39px;
  padding-top: 39px;
  width: 100%;
}

#header {
  position: sticky;
  top: 0;
  background-color: white;
}